.global {
  background-color: #f5fafa;
}
.leading-text {
  color: #acd1e9;
}
.strong-text {
  color: #6d929b;
}
.baseline-text {
  color: #b7afa3;
}
.emphasized-text {
  color: #897d6b;
}
body {
  background-color: #f5fafa;
}
#footer {
  margin-bottom: 40px;
}
div.content {
  height: 85%;
}
