
<div class="row">
  <div class="medium-12 columns">
        <ul>
          <li>
            <a href="http://github.com/jfarid27" 
               title="Github">
              <span class="icon-github"></span>
            </a>
          </li>
          <li>
            <a href="http://twitter.com/AJaliGoodFellow" 
               title="Twitter">
              <span class="icon-tumblr"></span>
            </a>
          </li>
        </ul>

  </div>
</div>


<script src="/css/foundation/js/vendor/jquery.js"></script>
<script src="/css/foundation/js/foundation.min.js"></script>
<script>
    $(document).foundation();
</script>
