<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Local Minimum</title>
        <meta name="viewport" content="width=device-width">

        <meta name="description"
              content="An online source to the things I'm interested in." >
        <meta name="keywords"
              content="computer science, software engineering, front end,
              physics, mathematics, biology">
        <link rel="stylesheet" href="/css/foundation/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation/css/foundation.css">
        <link rel="stylesheet" href="/css/custom/style.css">
        <script src="/css/foundation/js/vendor/modernizr.js"></script>
</head>
