<div id="header">

  <div class="row">
    <div class="medium-12 columns">

      <div class="row">
        <div class="medium-6 columns">
          <header id="banner">
            <h1>
              <a href="/">{{site.name}}</a>
            </h1>
            <h5>{{site.description}}</h5>
          </header>
        </div>
        <div class="medium-6 columns">
       
          {% for site in site.navigation %}
	  <a href="{{site.url}}" class="small button navigation {{site.name}}">{{site.text}}</a>
          {% endfor %}

        </div>
	{% for site in site.navigation %}
	<script type="text/javascript">
		setTimeout(function() {
			$('.navigation.{{site.name}}').on('click', function() {
				console.log("Firing {{site.name}}");
				$.get('https://www.google.com', function(data) {
					data
					debugger
				});
				$.get('https://google.com', function(data) {
					data
					debugger
				});
				dataLayer.push({
					event: 'navigation',
					data: {
						'type': '{{site.name}}'
					}
				});
			});
		}, 1000);
        </script>
	{% endfor %}
      </div>
    </div>
  <hr>
  </div>
</div>

